<h1>Kittens!</h1>


<div >
  <%= render @kittens %>

</div>



<div>

  <% @kittens.each do |cat| %>
    <img src= <%= cat.image %> />
    <%= link_to cat.id, new_kitten_join_path(cat)%>

    <% cat.joins.each do |j| %>
      <% x =  (j.category_id)-1%>
      <%= @categories[x].name %>
    <% end %>


  <% end %>

</div>

<div>





</div>
